h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 200px;
    margin-top: 20px;
    margin-bottom: 45px;
}
.bota, .bote{
    text-align: center;
    border-radius: 10pc;
    height: 100px;
    width: 100px;
    background-color: rgb(81, 170, 81);
    transition: 0.2s;
    margin-top: 100px;
    border-color: rgba(240, 248, 255, 0);
    box-shadow: inset 0 0 1em rgb(53, 53, 53);

    
}
.bote{
    background-color: rgb(233, 55, 55);
    margin-left: 100px;
}
.bota:hover, .bote:hover{  
    background-color: rgb(55, 202, 55);
    box-shadow: 0 0 1em gold;
}
.bote:hover{
    background-color: rgb(216, 28, 28);
    box-shadow: 0 0 1em gold;

}

hr{
    margin-top: 10px;
}
body{
    background-image: url("fundo.jpg");
}
.zerar{
    margin-top: 45px;
    background-color: rgb(0, 0, 0);
    border-radius: 10pc;
    height: 100px;
    width: 100px;
    color: aliceblue;
    text-align: center;
    border-color: rgba(240, 248, 255, 0);
    transition: 0.2s;
    box-shadow: inset 0 0 1em rgb(53, 53, 53);
}
.zerar:hover{
    background-color: rgb(39, 39, 39);
    box-shadow:0 0 1em rgb(53, 53, 53);
}
.bote:active, .bota:active, .zerar:active {
    width: 70px;
    height: 70px;
}